@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Ultra-thin premium scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
